
<div class="jumbotron">
  <h1>List of Events</h1>
  <% @events.each do |event| %>
  <h3><ul><li><%= event.title %>: <%= event.description %></li></ul></h3>
  <% end %>
</div>
<% if user_signed_in? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Event Creation Form</h2>
  </div>
  <div class="panel-body">
    <%= render 'create' %>
  </div>
</div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Total Karma!</h2>
  </div>
  <div class="panel-body">
    <%= @points.length %>
  </div>
</div>
